@import "variables.less";
@import "mixins.less";

/*Footer*/

.footer {
  color: #fcfcfc;
  background-color: #9a9999;
  font-family: @font-family-compact;
  font-size: @font-size-large;
  padding: 50px 20px 20px;
}

.footer-col {
  padding: 0;
}

.footer-col form{
  padding-top: 10px;
}

.footer-col form .input-group{
  padding-right: 100px;
  max-width: 580px;
}

.footer-col form button{
  width: 80px;
}

.row-hr hr{
  margin-top: 0;
  margin-bottom: 0;
}

.copyright{
  font-family: @font-family-compact;
  text-align: center;
  padding: 10px;
}