/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Buttons
// --------------------------------------------------

// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
//  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  .box-shadow(@shadow);

  // Reset the shadow
  &:active,
  &.active {
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    .box-shadow(none);
  }

  .badge {
    text-shadow: none;
  }
}

// Mixin for generating new styles
.btn-styles(@btn-color: #555) {
  #gradient > .vertical(@start-color: @btn-color; @end-color: darken(@btn-color, 12%));
  .reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners; see https://github.com/twbs/bootstrap/issues/10620
  background-repeat: repeat-x;
  border-color: darken(@btn-color, 14%);

  &:hover,
  &:focus  {
    background-color: darken(@btn-color, 12%);
    background-position: 0 -15px;
  }

  &:active,
  &.active {
    background-color: darken(@btn-color, 12%);
    border-color: darken(@btn-color, 14%);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: darken(@btn-color, 12%);
      background-image: none;
    }
  }
}

// Common styles
.btn {
  // Remove the gradient for the pressed/active state
  &:active,
  &.active {
    background-image: none;
  }
}

// Apply the mixin to the buttons
.btn-default { .btn-styles(@btn-default-bg); /*text-shadow: 0 1px 0 #fff;*/ border-color: #ccc; }
.btn-primary { .btn-styles(@btn-primary-bg); }
.btn-success { .btn-styles(@btn-success-bg); }
.btn-info    { .btn-styles(@btn-info-bg); }
.btn-warning { .btn-styles(@btn-warning-bg); }
.btn-danger  { .btn-styles(@btn-danger-bg); }


//
// Images
// --------------------------------------------------

.thumbnail,
.img-thumbnail {
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}


//
// Dropdowns
// --------------------------------------------------

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-hover-bg; @end-color: darken(@dropdown-link-hover-bg, 5%));
  background-color: darken(@dropdown-link-hover-bg, 5%);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
  background-color: darken(@dropdown-link-active-bg, 5%);
}


//
// Navbar
// --------------------------------------------------

// Default navbar
.navbar-default {
  #gradient > .vertical(@start-color: lighten(@navbar-default-bg, 10%); @end-color: @navbar-default-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered
  border-radius: @navbar-border-radius;
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  .box-shadow(@shadow);

  .navbar-nav > .open > a,
  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: darken(@navbar-default-link-active-bg, 5%); @end-color: darken(@navbar-default-link-active-bg, 2%));
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.075));
  }
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

// Inverted navbar
.navbar-inverse {
  #gradient > .vertical(@start-color: lighten(@navbar-inverse-bg, 10%); @end-color: @navbar-inverse-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered; see https://github.com/twbs/bootstrap/issues/10257
  border-radius: @navbar-border-radius;
  .navbar-nav > .open > a,
  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: @navbar-inverse-link-active-bg; @end-color: lighten(@navbar-inverse-link-active-bg, 2.5%));
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.25));
  }

  .navbar-brand,
  .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  }
}

// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}

// Fix active state of dropdown items in collapsed mode
@media (max-width: @grid-float-breakpoint-max) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
      color: #fff;
      #gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
    }
  }
}


//
// Alerts
// --------------------------------------------------

// Common styles
.alert {
  text-shadow: 0 1px 0 rgba(255,255,255,.2);
  @shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
  .box-shadow(@shadow);
}

// Mixin for generating new styles
.alert-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 7.5%));
  border-color: darken(@color, 15%);
}

// Apply the mixin to the alerts
.alert-success    { .alert-styles(@alert-success-bg); }
.alert-info       { .alert-styles(@alert-info-bg); }
.alert-warning    { .alert-styles(@alert-warning-bg); }
.alert-danger     { .alert-styles(@alert-danger-bg); }


//
// Progress bars
// --------------------------------------------------

// Give the progress background some depth
.progress {
  #gradient > .vertical(@start-color: darken(@progress-bg, 4%); @end-color: @progress-bg)
}

// Mixin for generating new styles
.progress-bar-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 10%));
}

// Apply the mixin to the progress bars
.progress-bar            { .progress-bar-styles(@progress-bar-bg); }
.progress-bar-success    { .progress-bar-styles(@progress-bar-success-bg); }
.progress-bar-info       { .progress-bar-styles(@progress-bar-info-bg); }
.progress-bar-warning    { .progress-bar-styles(@progress-bar-warning-bg); }
.progress-bar-danger     { .progress-bar-styles(@progress-bar-danger-bg); }

// Reset the striped class because our mixins don't do multiple gradients and
// the above custom styles override the new `.progress-bar-striped` in v3.2.0.
.progress-bar-striped {
  #gradient > .striped();
}


//
// List groups
// --------------------------------------------------

.list-group {
  border-radius: @border-radius-base;
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 darken(@list-group-active-bg, 10%);
  #gradient > .vertical(@start-color: @list-group-active-bg; @end-color: darken(@list-group-active-bg, 7.5%));
  border-color: darken(@list-group-active-border, 7.5%);

  .badge {
    text-shadow: none;
  }
}


//
// Panels
// --------------------------------------------------

// Common styles
.panel {
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
}

// Mixin for generating new styles
.panel-heading-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 5%));
}

// Apply the mixin to the panel headings only
.panel-default > .panel-heading   { .panel-heading-styles(@panel-default-heading-bg); }
.panel-primary > .panel-heading   { .panel-heading-styles(@panel-primary-heading-bg); }
.panel-success > .panel-heading   { .panel-heading-styles(@panel-success-heading-bg); }
.panel-info > .panel-heading      { .panel-heading-styles(@panel-info-heading-bg); }
.panel-warning > .panel-heading   { .panel-heading-styles(@panel-warning-heading-bg); }
.panel-danger > .panel-heading    { .panel-heading-styles(@panel-danger-heading-bg); }


//
// Wells
// --------------------------------------------------

.well {
  #gradient > .vertical(@start-color: darken(@well-bg, 5%); @end-color: @well-bg);
  border-color: darken(@well-bg, 10%);
  @shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  .box-shadow(@shadow);
}


//
// Ping Pong styles
// ---------------------------------------------------

@import "pingpong-menu";
@import "pingpong-footer";

.theme-showcase {
  min-height: 800px;
}

.page-header {
  text-transform: uppercase ;
}

.page-header p{
  font-style: italic;
}

.record-content a{
  text-decoration: underline;
}

.second-menu{
  padding: 20px 0;
}

.second-menu li a, .big-font{
  font-family: @font-family-titles;
  text-transform: uppercase ;
  font-size: @font-size-base;
}

.second-menu li.active a{
  color: #00ff93;
}

.banner {
  padding: 20px 0;
  @media (max-width: @screen-tablet) {
    display: none;
  }
}

.div-text-centered{
  text-align: center;
}

.html-divider{
  margin: 30px 10px;
  text-align: center;
  height: 20px;
}
.html-divider .line{
  position: relative;
  top: 13px;
  height: 1px;
  background-color: @badge-bg;
}

.html-divider .badge {
  position: relative;
  top: 0;
}

#scrollup {
  text-align: center;
  color: #fff;
  font-family: @font-family-titles;
  font-size: @font-size-small;
  position: fixed; /* фиксированная позиция */
  opacity: 0.7; /* прозрачность */
  padding: 15px; /* отступы */
  background-color: @link-btn-color;
  border-radius: 100px; /* скругление углов */
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  right: 30px;
  bottom: 30px; /* отступ снизу */
  display: none; /* спрятать блок */
  cursor: pointer;
}

//---------------------------Woocommerce------------------

.amount{
  font-family: @font-family-titles;
}


.product .product_title{
  font-family: @font-family-compact;
  font-size: @font-size-h3;
}

.product .price{
  font-family: @font-family-titles;
  font-size: @font-size-large;
}

.product .price del{
  font-size: @font-size-small;
}

.product .price ins{
  text-decoration: none;
}
.product .images {
  float: right;
  margin: 15px;
}

.product .images img:hover{
  opacity: 0.8;
}

.product .images .thumbnails{
  padding: 10px 0;
}

.product .images .thumbnails .attachment-shop_thumbnail{
  margin: 5px;
}

.product .images .thumbnails .first .attachment-shop_thumbnail{
  margin: 0;
}

.product .qty{
  height: 35px;
  width: 50px;
  text-align: center;
}

.product .product_content{
  padding: 30px 0;
}

.products{
  padding: 0;
}

.products li{
  list-style-type: none;
  display: inline-block;
  border: solid 1px #000;
  position: relative;
  width: 270px;
  height: 270px;
  overflow: hidden;
  padding-top: 180px;
  padding-left: 10px;
}

.products li img{
  margin: 5px;
  position: absolute;
  left: 30%;
  top: 0;
}

.products .product-title{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
  padding-left: 10px;
}

.products li h3{
  font-family: @font-family-compact-bold;
  font-size: 20px;
}

.products .add_to_cart_button{
  position: absolute;
  top: 200px;
  left: 10px;
}

.products .wc-forward{
  display: none;
}

.products .onsale{
  position: absolute;
  top: 150px;
  left: 10px;
  color: @body-bg;
  //font-weight: bold;
  background-color: @label-warning-bg;
  padding: 5px;
  z-index: 99;
//  border-radius: 10px;
}

#pp_minicart{
  background-color: @body-bg;
  border: solid 1px;
//  padding: 10px;
  z-index: 5999;
}

.widget_shopping_cart{
  padding: 15px;
}

//-----------------------Events-----------------------------
.pp-event{
  font-family: @font-family-compact;
  color: @gray;
  border: 1px solid #000;
  padding: 0;
  margin-bottom: 20px;
}

.pp-event .thumbnail-link{
  padding: 0;
}

.pp-event-date{
  float: left;
}

.pp-event-date-big{
  font-family: @font-family-titles;
  font-size: 85px;
  color: @gray-base;
}

.pp-event-date-month{
  font-size: 30px;
  vertical-align: 39px;
}

.pp-event-time{
  display: inline-block;
  padding: 22px 0 0 50px;
}

.pp-event-time-week{
  padding-left: 3px;
  font-size: 20px;
}

.pp-event-time-time{
  font-size: 35px;
  color: @brand-danger;
}

.pp-event-address{
  clear: both;
  padding-left: 5px;
}

.pp-event .btn{
  width: 100%;
  margin-top: 10px;
}

.pp-event-col1{
  padding-left: 0;
}

.pp-event-col3 {
  padding-top: 18px;
  padding-right: 0;
}

.pp-event-box{
  font-family: @font-family-compact;
  font-size: 20px;
  color: @gray;
  border: 1px solid #000;
  padding: 10px 10px;
  margin-bottom: 20px;
}

.pp-event-box b{
  color: #000;
}

.pp-event-info{
  padding-top: 20px;
}

.nav-tabs a{
  font-family: @font-family-titles;
  font-weight: bold;
}

.nav-tabs .text-danger{
  color: @brand-danger;
}

.tab-pane{
  padding: 15px 0;
}
//-----------------Article-------------------------
.attachment-single-header-thumb{
  width: 100%;
  height: 100%;
}

#post-67 p{
  text-transform: uppercase ;
  font-style: italic;
}

//-----------Ninja forms ---------------------------
.ninja-forms-form{
//  font-family: @font-family-compact;
  font-size: 20px;
  font-style: italic;
}

.ninja-forms-form label{
  font-family: @font-family-titles;
  font-size: @font-size-h3;
}

.ninja-forms-form select, .ninja-forms-form input, .ninja-forms-form textarea{
  width: 80%;
  height: 40px !important;
  display: block;
}

.ninja-forms-form select{
  text-transform: uppercase ;
}

.ninja-forms-form input[type="number"]{
  width: 200px;
}

.ninja-forms-form button{
  font-family: @font-family-compact;
  font-style: normal;
  padding: 5px 30px;
  border: 1px solid transparent;
  .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
}


.ninja-forms-form textarea {
  height: 200px !important;
}

.ninja-forms-form .ninja-forms-required-items{
  font-family: @font-family-base;
  font-style: normal;
  font-size: @font-size-base;
}

.ninja-forms-form .ninja-forms-req-symbol{
  color: red;
}

.ninja-forms-form .field-wrap{
  margin-bottom: 20px;
}