@import "variables.less";
@import "mixins.less";


/*Top menu*/

@menu-height: 120px;
@menu-height-shrink: 50px;

body {
  padding-top: @menu-height;
}

.record-content a{
  text-decoration: underline;
}

.navbar-shrink, .navbar-shrink .nav-filler{
  height: @menu-height-shrink;
}

.navbar-expand, .navbar-expand .nav-filler{
  height: @menu-height;
}

.navbar-shrink .navbar-brand{
  padding: 3px 10px;
}
.navbar-expand .navbar-brand{
  padding: 10px 15px;
}
.navbar-expand .navbar-brand img{
  height: @menu-height - 20px;
  @media (max-device-width: @screen-tablet){
    height: @menu-height-shrink - 6px;
  }
}
.navbar-shrink .navbar-brand img{
  height: @menu-height-shrink - 6px;
}

.navbar-expand .navbar-nav{
  margin-top: (@menu-height - 50px) / 2;
}

#main-navbar, #main-navbar img, .navbar-brand, .navbar-nav, .nav-filler, .hello-avatar{
  transition: all 1s ease-in-out;
}

#main-navbar{
  background-image: url("../img/bg.jpg");
}

.navbar-collapse.in {
  background-color: darken(@link-btn-color, 10%);
}

.nav-filler{
  position: relative;
  display: flex;
  margin-left: 10px;
}

.nav-user-menu {
  margin:auto;
}

.nav-user-menu, .nav-user-menu a{
  color: darken(#fff, 10%);
  font-family: @font-family-titles;
  font-size: @font-size-xsmall;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-user-menu a:hover{
  color: @link-btn-color;
  text-decoration: none;
}

.navbar-expand .hello-avatar{
  padding: 20px;
  width: @menu-height;
  height: @menu-height;
}
.hello-avatar {
  display: none;
  @media (min-width: @screen-lg-min) {
    display: block;
  }
}

.navbar-shrink .hello-avatar{
  width: 0;
  height: 0;
}

.hide-on-small {
  display: none;
  @media (min-width: @screen-md-min) {
    display: inherit;
  }
  @media (max-width: @screen-tablet) {
    display: inherit;
  }
}

.hello {
  padding-bottom: 5px;
}

.nav-bucket {
  height: 23px;
}

.nav-bucket-sum {
  font-size: @font-size-base;
}