/*
Theme Name: PP Sisters bootstrap
Author: Oleg0s
Author URI: http://razumovi.ru/
Description: Modified twitter bootstrap theme
Version: 1.0
Text Domain:  pingpong
*/

@import url("assets/css/bootstrap.min.css");
@import url("assets/css/pingpong-theme.min.css");

.thumbnail-link {
    float: left;
    padding: 10px 20px 20px 0;
}

article.post{
   margin-top: 30px;
}

.attachment-large.wp-post-image {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

.search-box{
    max-width: 400px;
}

#secondary .banner-image{
    width: 256px;
}

#ninja_forms_form_5_all_fields_wrap{
    max-width: 500px;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("assets/img/Hey_Joe_1.jpg") no-repeat;
    background-size: cover;
}

#video-intro{
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 60px;
    margin-top:  60px;
    width: 600px;
    color: #000000;
    font-family: "BebasNeue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#video-intro .menu-intro-container{
    padding: 60px 0 120px;
}

#video-intro .menu-intro-container ul{
    list-style: none;
    padding: 0;
}

#video-intro .menu-intro-container ul li{
    padding: 20px 0;
}

#video-intro .menu-intro-container a{
    font-size: 30px;
    text-transform: uppercase;
    font-family: "FuturaFuturisBlackC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
    padding: 10px;
}

#video-intro .menu-intro-container a:hover{
    color: white;
    text-decoration: none;
    background-color: #000000;
    opacity: 0.5;
}